pandas==3.0.3
pyarrow==24.0.0
requests==2.34.2
python-dotenv==1.2.2

spacy==3.8.14
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.8.0/de_core_news_sm-3.8.0-py3-none-any.whl

bertopic==0.17.4
sentence-transformers==5.5.1
scikit-learn==1.9.0

matplotlib==3.11.0
wordcloud==1.9.6
streamlit==1.58.0